<div class="page-header">
  <h1>Edit Sprint</h1>
  <div class="page-header-actions">
    <%= link_to "Cancel", sprint_path(@sprint), class: "btn" %>
  </div>
</div>

<div style="max-width: 680px;">
  <%= render 'form', sprint: @sprint %>
</div>
