<div class="page-header">
  <h1>New Board State</h1>
</div>

<div style="max-width: 400px; margin: 40px auto;">
  <form action="<%= board_board_states_path(@board) %>" method="post" class="form">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    
    <div class="form-group">
      <label for="board_state_name">State Name</label>
      <input type="text" id="board_state_name" name="board_state[name]" required class="form-input" placeholder="e.g., To Do, In Progress, Done">
    </div>

    <div class="form-group">
      <label for="board_state_color">Color</label>
      <input type="color" id="board_state_color" name="board_state[color]" value="#6b7280" class="form-input">
    </div>

    <button type="submit" class="btn btn-primary" style="width: 100%;">Create State</button>
  </form>
</div>
